* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Light", Helvetica, sans-serif;
}

.active {
    background-color: gray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: white;
    font-weight: 600;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #635985;
}

header > * {
    padding: 30px;
}

.content {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    align-items: center;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
}

.content-left > * {
    margin: 20px 100px;
}


.content-left > button {
    width: 150px;
    height: 50px;
    cursor:pointer;
}

#color-picker {
    -webkit-appearance: none;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: all 300ms;
}


#color-picker:hover {
    transform: scale(1.1);
}

.selected {
    background-color: gray;
}

.slider-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    display: grid;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px;

    background-color: #18122B;
}